<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.erp.mybatis.mapper.FileMapper">

    <!-- 파일 목록 -->
    <select id="list" resultType="Files">
        SELECT *
          FROM FILE
         ORDER BY REG_DATE DESC
    </select>

    <!-- 파일 목록 - 부모 테이블 기준 -->
    <!-- * 파일이 종속되는 테이블을 기준으로 파일 목록을 조회 -->
    <!-- * 게시글 번호 10 
           📄 파일 번호 1
           📄 파일 번호 2
           📄 파일 번호 3
     -->
    <select id="listByParent" resultType="Files">
        SELECT *
          FROM FILE
         WHERE PARENT_TABLE = #{parentTable}
           AND PARENT_NO = #{parentNo}
         ORDER BY REG_DATE DESC
    </select>

    <!-- 파일 조회 -->
    <select id="select" resultType="Files">
        SELECT *
        FROM FILE
        WHERE FILE_NO = #{fileNo}
    </select>

    <!-- 파일 등록 -->
    <insert id="insert">
        INSERT INTO FILE( PARENT_TABLE, PARENT_NO, FILE_NAME, ORIGIN_NAME, FILE_PATH, FILE_SIZE, FILE_CODE )
        VALUES ( #{parentTable}, #{parentNo}, #{fileName}, #{originName}, #{filePath}, #{fileSize}, #{fileCode} )
    </insert>

    <!-- 파일 수정 -->
    <update id="update">
        UPDATE FILE
           SET PARENT_TABLE = #{parentTable}
             , PARENT_NO   = #{parentNo}
             , FILE_NAME   = #{fileName}
             , ORIGIN_NAME = #{originName}
             , FILE_PATH   = #{filePath}
             , FILE_SIZE   = #{fileSize}
             , FILE_CODE   = #{fileCode}
        WHERE FILE_NO = #{fileNo}
    </update>

    <!-- 파일 삭제 -->
    <delete id="delete">
        DELETE FROM FILE
         WHERE FILE_NO = #{fileNo}
    </delete>

    <!-- 파일 목록 삭제 - 부모 테이블 기준 파일 목록 삭제 -->
    <delete id="deleteByParent">
        DELETE FROM FILE
         WHERE PARENT_TABLE = #{parentTable}
           AND PARENT_NO = #{parentNo}
    </delete>
</mapper>